<a href="https://colab.research.google.com/github/bcbsf-iscte/Aula7.2ES2023/blob/main/notebooks/01-python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução à linguagem Python

Criada por Guido van Rossum em 1991, [Python](https://www.python.org/) é uma linguagem de programação de alto nível, reconhecida pela sua simplicidade, clareza e facilidade de aprendizagem. Com uma ampla coleção de módulos e ferramentas associadas, Python é uma linguagem versátil e poderosa, ideal para quer para iniciantes, quer para profissionais em diversas áreas da computação. Atualmente é uma das linguagens de programação mais populares do mundo, especialmente em comunidades dedicadas à aprendizagem automática.

## Exemplos

### Olá mundo!

In [2]:
print('Hello World!')

Hello World!

### Cálculo da média

In [3]:
numbers = [10, 7, 22, 14, 17]

total = 0.0
n = 0.0
for val in numbers:
    total = total + val
    n += 1

total / n

14.0

Ou...

In [4]:
numbers = [10, 7, 22, 14, 17]

sum(numbers) / len(numbers)

14.0

## Tipos

Em Python, os tipos das variáveis não têm de ser declarados explicitamente. O sistema de tipos é dinâmico, ou seja, valores de tipos diferentes podem ser atribuídos à mesma variável ao longo da execução do programa. Isto oferece flexibilidade, mas também requer atenção por parte do programador ao lidar com diferentes tipos de dados para evitar erros durante a execução do código. Existem casos em que é possível explicitar o tipo esperado de algumas variáveis, no entanto, a não ser que sejam usadas ferramentas externas, essa informação serve apenas para tornar o código mais claro.

### Tipos básicos

- [Números](#Números) ([inteiros](#Inteiros) e [vírgula flutuante](#Vírgula-flutuante))
- [Booleanos](#Booleanos)
- [Cadeias de caracteres](#Cadeias-de-caracteres)
- [Listas](#Listas), [Tuplos](#Tuplos) e [Conjuntos](#Conjuntos)
- [Dicionários](#Dicionários)
- [Tipo nulo](#Tipo-nulo)

### Booleanos

Em Python os valores verdadeiro e falso são representados pelos booleanos `True` e `False`.

### Números

#### Inteiros

In [9]:
a = 1
b = 2
c = 3
a + b * c

7

#### Vírgula flutuante

In [10]:
a = 1.0
b = 2.5
c = 1e-3

a + b * c

1.0025

#### Mistura de tipos numéricos

O resultado de uma operação numérica que involva vírgula flutuante é um número de vírgula flutuante:

In [11]:
a = 2
b = 2.0
c = 3

a + b * c

8.0

A não ser que a operação não seja válida:

In [12]:
1.0 / 0

ZeroDivisionError: float division by zero

#### Conversão de tipos numéricos

In [ ]:
float(10)

In [ ]:
int(3.3)

**Nota**: A conversão de números de vírgula flutuante em inteiros é feita por truncamento e não por arrendondamento.

In [ ]:
int(3.7)

In [ ]:
round(3.7)

#### Operações

- Adição: `a + b`
- Subtração: `a - b`
- Multiplicação: `a * b`
- Potência: `a ** b`
- Menos unário: `-a`

Então e a divisão?

Existem dois tipos:

- Vírgula flutuante: `a / b`
- Inteira: `a // b`
- Resto da divisão inteira: `a % b`

In [ ]:
a = 10
b = 3
c = 9

print(a / b)
print(a // b)
print(a % b)

print(c / b)
print(a // float(b))

In [ ]:
True

In [ ]:
False

### Cadeias de caracteres

Em Python, as cadeias de caracteres são delimitadas por `'` ou `"`:

In [13]:
first = 'John'
last = "Doe"

print(first, last)

John Doe

Estas cadeias de caracteres têm de estar contidas numa única linha.

In [14]:
lines = 'Two
        lines'

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-14-e5be486c589e>, line 1)

Os caracteres especiais (incluindo a mudança de linha) devem ser introduzidos usando sequências de escape (ex: `\n`).

In [15]:
lines = 'Two\n\tlines'
print(lines)

Two
	lines

Alternativamente, cadeias de caracteres longas podem ser delimitadas por `'''`. Neste caso, os caracteres especiais podem ser usados diretamente.

In [16]:
long = '''This is a long string.
It can have multiple lines.

	And other special characters.'''

In [17]:
long

'This is a long string.\nIt can have multiple lines.\n\n\tAnd other special characters.'

In [18]:
print(long)

This is a long string.
It can have multiple lines.

	And other special characters.

#### Acesso a partes de uma cadeia de caracteres

Para aceder a caracteres específicos ou subcadeias, podemos usar o operador de indexação `[]`

In [19]:
string = 'String'

print(string[0])      # gets the first char
print(string[0:3])    # gets chars from 0 to 2
print(string[-1])     # gets the last char
print(string[-2:])    # gets the last 2 chars

S
Str
g
ng

**Nota**: As cadeias de caracteres são **imutáveis**. Isto é, não podem ser alteradas diretamente.

In [20]:
string[1] = 'p'

TypeError: 'str' object does not support item assignment

Na prática, as alterações a cadeias de caracteres são feitas através da criação de novas cadeias.

In [21]:
string = string[0] + 'p' + string[2:]
print(string)

Spring

#### Operações sobre cadeias de caracteres

Uma cadeia de caracteres é uma sequência, como tal, muitas das funções (e operadores) que podem ser aplicadas a outras sequências (ex: [listas](#listas)), podem também ser aplicadas a cadeias de caracteres. Um exemplo é o operador de indexação visto anteriormente. Outros exemplos importantes são a função `len`, que calcula o comprimento da cadeia de caracteres, e o operador `in` que pode ser usado para verificar se uma determinada cadeia de caracteres é uma subsequência de outra cadeia.

In [22]:
len('string')

6

In [23]:
'ing' in 'string'

True

In [24]:
'int' in 'string'

False

Para além disso, a classe que representa as cadeias de caracteres em Python (`str`) define um conjunto de métodos úteis. Por exemplo:

- `replace`
- `lower`
- `isnumeric`
- `startswith`
- `endswith`
- `count`
- `split`

Em Python, os métodos são invocados usando a sintaxe `<objeto>.<método>(<argumentos>)`

In [25]:
string = 'This is a string.'

print(string.replace('t', 'p'))
print(string.lower())
print(string.isnumeric())
print(string.startswith('Th'))
print(string.endswith('.'))
print(string.count('s'))
print(string.split())

This is a spring.
this is a string.
False
True
True
3
['This', 'is', 'a', 'string.']

**Nota**: No contexto de um notebook como este, é possível adicionar `?` no final do nome de um método ou objeto para obter alguma ajuda.

In [26]:
string?

In [27]:
string.replace?

In [28]:
len?

#### Formatação de cadeias de caracteres

Uma formatação adequada de cadeias de caracteres é relevante quando se quer apresentar texto ao utilizador, de forma a que este seja mais preciso e legível. Para além disso, em Python, os métodos de formatação de cadeias de caracteres podem também ser utilizados para preencher templates textuais com informação dada por expressões.

A formatação de cadeias de caracteres pode ser feita usando o método `format` ou utilizando a sintaxe `f'string'`.

In [29]:
x = 1
y = 3.0
print('x = {}, x + y = {}'.format(x, x + y))
print(f'x = {x}, x + y = {x + y}')

x = 1, x + y = 4.0
x = 1, x + y = 4.0

Quando é usado o método `format`, pode também ser indicada a posição ou o identificador do argumento pretendido em cada campo.

In [30]:
first = 'James'
last = 'Bond'

print('My name is {1}, {0} {1}.'.format(first, last))
print('My name is {last}, {first} {last}.'.format(first=first, last=last))

My name is Bond, James Bond.
My name is Bond, James Bond.

Como demonstrado nos exemplos anteriores, se não for dada nenhuma indicação relativamente à formatação de um determinado campo, é utilizada a representação textual predefinida para o tipo do argumento. Para explicitar a formatação esperada, é usada a sintaxe `{:<format>}`. Há muitas [opções de formatação](https://docs.python.org/3/library/string.html#grammar-token-format-spec-format_spec), como por exemplo:

- Espaço ocupado
- Alinhamento
- Base numérica
- Casas decimais
- Notação científica

In [31]:
x = 255
f = 1/3
s = 'string'

print(f'| {s:10} | {x:10} | {f:10}') # Each field has a minimum width of 10 characters. The default alignment depends on the type of the argument.
print(f'| {s:>10} | {x:^10} | {f:<10}') # Specifying the alignment
print(f'| {s:010} | {x:010} | {f:010}') # Use 0s to fill the space
print(f'{x:.2f} {f:.2f}') # Represent the numeric values as floats with 2 decimal places
print(f'{x:x}') # Hexadecimal base
print(f'{f:e}') # Scientific notation
print(f'{x*100:,}') # Thousands separator

| string     |        255 | 0.3333333333333333
|     string |    255     | 0.3333333333333333
| string0000 | 0000000255 | 0.3333333333333333
255.00 0.33
ff
3.333333e-01
25,500

**Nota**: É possível combinar múltiplas opções de formatação.

In [32]:
n = 13
f'N: {x:>020,.2f}'

'N: 00000000000000255.00'

### Listas

Em Python, uma lista é definida usando parênteses retos `[]`, sendo os seus elementos separados por vírgulas. Os elementos das listas podem ser de qualquer tipo, incluindo outras listas.

In [33]:
nlst = [1, 2, 3, 4]
vlst = [1, 3.3, 'hello']
llst = [[1, 2], [5, 6, 0]]

Tal como as [cadeias de caracteres](#Operações-sobre-cadeias-de-caracteres), as listas são sequências. Logo, é possível aceder aos seus elementos usando o operador de indexação `[]` e calcular o seu comprimento usando a funçåo `len`. Podemos também verificar se a lista contem um determinado elemento usando o operador `in`. Para além disso, se os elementos da lista forem todos numéricos, a sua soma pode ser calculada usando a função `sum`.

In [34]:
print(nlst[0])
print(vlst[:2])
print(llst[-1])
print(len(nlst))
print('hello' in vlst)
print(sum(nlst))

1
[1, 3.3]
[5, 6, 0]
4
True
10

Ao contrário das cadeias de caracteres, as listas são mutáveis, ou seja, podem ser alteradas. Por exemplo, é possível atribuir um novo valor a uma determinada posição:

In [35]:
lst = [1, 2, 3]
lst[1] = 4
print(lst)

[1, 4, 3]

A classe `list` também define um conjunto de métodos úteis. Por exemplo:

- `append`
- `insert`
- `remove`
- `sort`
- `reverse`

In [36]:
lst = [1, 2, 3]

lst.append('hello')
print(lst)

lst.insert(1, 10)
print(lst)

lst.remove('hello')
print(lst)

lst.reverse()
print(lst)

lst.sort()
print(lst)

[1, 2, 3, 'hello']
[1, 10, 2, 3, 'hello']
[1, 10, 2, 3]
[3, 2, 10, 1]
[1, 2, 3, 10]

**Nota**: Para usar o método `sort`, é necessário que os elementos da lista sejam comparáveis.

In [37]:
lst = [1, 'hello', 3]
lst.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

O operador `+` pode ser usado para concatenar duas listas:

In [38]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

Como a maioria dos métodos sobre listas são destrutivos, pode ser necessário fazer uma cópia da lista original. Tal pode ser feito usando o método `copy`.

In [39]:
lst = [1,2,3]

lst2 = lst

cp = lst.copy()

lst2[1] = 4

print(lst)
print(cp)

[1, 4, 3]
[1, 2, 3]

**Nota**: O método `copy` é superficial, isto é, não é feita uma cópia dos elementos internos da lista.

In [40]:
lst = [1, [1, 2, 3], 4]

cp = lst.copy()

lst[0] = 5 # This will not be reflected in the copy
lst[1][0] = 3 # But this will

print(lst)
print(cp)

[5, [3, 2, 3], 4]
[1, [3, 2, 3], 4]

### Tuplos

Tuplos são como [listas](#Listas), mas **imutáveis**. Em Python, podem ser definidos apenas separando os seus elementos por vírgulas, ou então de forma semelhante às listas, mas usando parênteses curvos `()`.

In [41]:
tpl = 1, 2, 3.0, "hello"
tpl2 = (4, 5)

print(tpl)
print(tpl2)

(1, 2, 3.0, 'hello')
(4, 5)

**Nota**: Tuplos vazios ou com apenas um elemento são casos especiais.

In [42]:
empty = ()
singleton = 1,
singleton2 = (2,)

print(empty)
print(singleton)
print(singleton2)

()
(1,)
(2,)

Os elementos de um tuplo podem ser acedidos da mesma forma que os de uma lista:

In [43]:
tpl = 1, 2, 3.0, "hello"

print(tpl[0])
print(tpl[1:3])
print(tpl[-1])

1
(2, 3.0)
hello

No entanto, como os tuplos são imutáveis, não é possível alterá-los:

In [44]:
tpl[0] = 1

TypeError: 'tuple' object does not support item assignment

### Conjuntos

Um conjunto é uma estrutura de dados semelhante a uma [lista](#Listas), mas que armazena elementos únicos sem uma ordem específica. Em Python, conjuntos podem ser definidos usando chavetas `{}`, sendo os seus elementos separados por vírgulas.

In [45]:
ids = {1, 5, 3, 'Mary', 5}
print(ids)

{1, 3, 5, 'Mary'}

Novos elementos podem ser adicionados a um conjunto usando o método `add`. Elementos existentes podem ser removidos usando o método `remove`.

In [46]:
ids.add('John')
ids.remove(5)

print(ids)

{'John', 1, 3, 'Mary'}

#### Operações

- Pertenca: `x in s`
- União: `s | k`
- Interseção: `s & k`
- Diferença: `s - k`

In [52]:
s = {1, 2, 3}
k = {3, 4, 5}
j = {6, 7}

print(2 in s)
print(2 in k)
print(s | k)
print(s & k)
print(s - k)
print (k - j)

#diferença = dar o menor conjunto de valores (excluindo aqueles que intersetam)

True
False
{1, 2, 3, 4, 5}
{3}
{1, 2}
{3, 4, 5}

### Dicionários

Um dicionário é uma estrutura de dados que permite armazenar pares chave-valor, sendo cada chave única e associada ao valor respectivo. Em Python, são definidos usando uma sintaxe semelhante à dos [conjuntos](#Conjuntos), ou seja, usando chavetas `{}`, mas em que cada elemento corresponde a um par `<chave>:<valor>`. Tal como nas [listas](#Listas), os valores de um dicionário podem ser mistos e de qualquer tipo.

In [75]:
contacts = {
    'Luis': 'luis@iscte-iul.pt',
    'Rita': 'rita@gmail.com',
    'Joana': 910000000
}

print(f"Rita's contact is {contacts['Rita']}")

Rita's contact is rita@gmail.com

Como os dicionários são mutáveis, é possível adicionar novos pares chave-valor ou alterar o valor associado a uma chave existente.

In [76]:
contacts['Pedro'] = 'pedro@gmail.com'  # <- add a new element
contacts['Rita'] = 'rita@iscte-iul.pt' # <- replace an element

print(contacts)

{'Luis': 'luis@iscte-iul.pt', 'Rita': 'rita@iscte-iul.pt', 'Joana': 910000000, 'Pedro': 'pedro@gmail.com'}

Para remover uma entrada do dicionário pode ser utilizado o operador `del` ou o método `pop`, sendo que a segunda opção devolve o valor removido.

In [77]:
del contacts['Pedro']
print(contacts)

joana = contacts.pop('Joana')
print(joana)
print(contacts)

{'Luis': 'luis@iscte-iul.pt', 'Rita': 'rita@iscte-iul.pt', 'Joana': 910000000}
910000000
{'Luis': 'luis@iscte-iul.pt', 'Rita': 'rita@iscte-iul.pt'}

O operador `in` pode ser usado para verificar se uma chave existe num dicionário e a função `len` pode ser usada para contar o número de entradas. Para além disso, os métodos `keys`, `values` e `items` podem ser usados para obter listagens das chaves, valores e pares chave-valor, respectivamente.

In [56]:
print('Rita' in contacts)
print(len(contacts))
print(contacts.keys())
print(contacts.values())
print(contacts.items())

True
2
dict_keys(['Luis', 'Rita'])
dict_values(['luis@iscte-iul.pt', 'rita@iscte-iul.pt'])
dict_items([('Luis', 'luis@iscte-iul.pt'), ('Rita', 'rita@iscte-iul.pt')])

### Tipo nulo

Em Python, `None` é um objeto que representa a ausência de valor ou a falta de qualquer valor significativo. É frequentemente usado para indicar que uma variável não está associada a nenhum valor válido ou para inicializar variáveis com um valor padrão que possa ser verificado posteriormente. Para além disso é retornado por [funções](#Funções) que não têm uma instrução de retorno explícita.

In [78]:
None

## Estruturas de Controlo

Tal como a maioria das linguagens de programação, a linguagem Python oferece um conjunto de estruturas de controlo que podem ser usadas para definir o fluxo de execução do programa. Entre estas, as mais relevantes são as condições (`if`, `elif` e `else`) e os ciclos (`while` e `for`).

### Exemplo

In [79]:
i = 1
while i < 4:
    if i % 2:
        print(f'{i} is odd')
    else:
        print(f'{i} is even')
    i += 1

1 is odd
2 is even
3 is odd

**Nota**: Ao contrário da maioria das linguagens de programação, em Python, os blocos são definidos pela indentação.

In [80]:
if True:
print('This will not work because of bad indentation.')

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-80-d2f4849c3be7>, line 2)

### Condições

Os blocos de execução condicional em Python são definidos usando as instruções `if`, `elif` e `else`, sendo as duas últimas opcionais.

```
if <condição>:
    <bloco>
elif <condição>:
    <bloco>
else:
    <bloco>
```

Uma condição pode ser qualquer expressão do tipo booleano. Por exemplo:

- Valor booleano: `True` ou `False`
- Comparação: `a == b`, `a != b`, `a < b`, `a >= b`
- Pertença: `a in lst`
- Operação lógica: `x and y`, `x or y`, `not x`

In [81]:
a = 2
b = 1

if a > 1 and b > 2:
    print('Both good!')
elif a > 1 or b > 2:
    print('One good, one bad.')
else:
    print('Both bad.')

One good, one bad.

In [82]:
lst = ['John', 'Mary']

if 'Jane' in lst:
    print('Yes, Jane is coming!')
elif 'Mary' in lst:
    print('Jane is not coming, but Mary can answer your questions.')


if 'Mark' not in lst:
    print("Don't worry, Mark is not coming.")

Jane is not coming, but Mary can answer your questions.
Don't worry, Mark is not coming.

Apesar de não serem do tipo booleano, há varias coisas que podem ser avaliadas como tal e, por isso, usadas como condições. Por exemplo:

- sequências (se estiverem vazias são avaliadas como `False`, caso contrário são avaliadas como `True`)
- números (zero é avaliado como `False`, tudo o resto é avaliado como `True`)

In [85]:
fruits = ['Orange', 'Apple', 'Strawberry']

if fruits:
    print('Fruity')
else:
    print('Nope')

Fruity

In [88]:
name = input("What's your name?")
if name in ['Anna', 'Bob']:
    print(f'Welcome back, {name}!')
else:
    print(f'Nice to meet you, {name}!')

What's your name?Bob
Welcome back, Bob!

Em Python existe também uma expressão condicional ternária:

`<expressão> if <condição> else <expressão>`

In [89]:
num = 2

print(f"{num} is an {'odd' if num % 2 else 'even'} number.")

2 is an even number.

### Ciclos

Os ciclos são usados para repetir um determinado bloco de código múltiplas vezes. Em Python, os ciclos mais usados são os ciclos `while` e `for`.

#### Ciclo `while`

Se não for interrompido, um ciclo `while` é repetido enquanto uma condição se mantiver.

```
while <condição>:
    <bloco>
```

In [91]:
names = []
while len(names) < 3:
    name = input('Give me a name:')
    names.append(name)

# print(names)

Give me a name:Bruna
Give me a name:Pedro
Give me a name:Filipa
['Bruna', 'Pedro', 'Filipa']

In [92]:
# poor man's division
a = 23
b = 5

c = a
i = 0
while c > b:
    c -= b
    i += 1

print(f'{a} // {b} = {i}')
print(23 // 5)

23 // 5 = 4
4

Um ciclo pode ser interrompido usando a instrução `break`. Para além disso, é possível saltar para a iteração seguinte usando a instrução `continue`.

In [93]:
lst = [2, 1, 4, 3, 6]
i = 0

while i < len(lst):
    v = lst[i]
    i += 1

    if v == 3:
        break
    elif v == 2:
        continue
    else:
        print(v)

1
4

#### Ciclo `for`

Em Python, um ciclo `for` serve para iterar sobre uma sequência.

```
for <variável(eis)> in <sequência>:
    <bloco>
```

In [94]:
students = ['Rachel', 'Michael', 'Robert']

for s in students:
    print(s)

Rachel
Michael
Robert

In [95]:
grades = {'Rachel': 18, 'Michael': 10, 'Robert': 15}

for s, g in grades.items():
    print(f'{s}: \t{g}')

Rachel: 	18
Michael: 	10
Robert: 	15

As instruções `break` e `continue` também podem ser usadas em ciclos `for`.

In [96]:
lst = [2, 1, 4, 3, 6]

for v in lst:
    if v == 3:
        break
    elif v == 2:
        continue
    else:
        print(v)

1
4

Em muitas linguagens de programação, os ciclos `for` são usados para repetir uma operação *n* vezes ou iterar sobre uma sequência de inteiros. Em Python, um comportamento semelhante pode ser obtido usando a função `range`.

In [97]:
for i in range(5): # [0, 5[
    print(i, i**2)

0 0
1 1
2 4
3 9
4 16

In [98]:
for i in range(5, 10): # [5, 10[
    print(i, i**2)

5 25
6 36
7 49
8 64
9 81

In [99]:
for i in range(10, 20, 2): # [10, 20[ in steps of 2
    print(i, i**2)

10 100
12 144
14 196
16 256
18 324

Em Python, existe também uma operação, chamada compreensão de lista, que pode ser usada para iterar sobre uma sequência e gerar uma nova sequência:

`<expressão> for <variável(eis)> in <sequência> [if <condição>]`

In [100]:
[x**2 for x in range(5)]

[0, 1, 4, 9, 16]

In [101]:
{x: x**2 for x in range(5) if x % 2}

{1: 1, 3: 9}

## Funções

Em Python, funções são definidas usando a seguinte sintaxe:

```
def <nome>(<argumentos>):
    <bloco>
```

In [102]:
def double(x):
    return 2 * x

def sub(x, y):
    return x - y

def smile(): # This is a procedure
    print(':)')

**Nota**: Neste exemplo, a função `smile` não define um valor de retorno, apenas imprime algo. Na prática, é devolvido o valor `None`. Este tipo de função costuma ser chamado *procedimento*.

Como visto anteriormente, uma função pode ser chamada usando a sintaxe `<nome>(<argumentos>)`.

In [103]:
smile()

sub(double(10), 7)

:)

13

Ao definir uma função, é possível definir valores predefinidos para os argumentos.

In [104]:
def greet(name, greeting='Hello'):
    print(f'{greeting} {name}!')

greet('Mario')
greet('Mario', 'Goodbye')

Hello Mario!
Goodbye Mario!

Na chamada a funções, os argumentos podem também ser referenciados por nome. Neste caso, a ordem é irrelevante, o que é muito útil para funções com um número elevado de argumentos.

In [105]:
greet(greeting='Hi' , name='Charlie')

Hi Charlie!

A definição de funções é um dos casos em que é possível explicitar tipos. Neste caso, dos argumentos e do valor de retorno da função.

In [106]:
def triple(x: int) -> int:
    """
    Returns the triple of its argument
    """
    return 3 * x

**Nota**: Tal como referido anteriormente, a não ser que sejam usadas ferramentas externas, a informação sobre tipos serve apenas para melhorar a legibilidade do código e não é usada durante a sua execução.

In [107]:
triple(3.0)

9.0

**Nota**: O texto que acompanha a função `triple` é usado como documentação.

In [108]:
triple?